<form action="students/<%=student_path(@student)%>" method="post">
  <label class="switch">Active: 
      <input type="checkbox" name="students[active]" value="active">
      <div class="slider round"></div>
  </label>
</form>
